<nav>
  <div class="nav">
    <ul>
      <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/cooks">Cooks</a></li>
    </ul>
    <ul>
      {{#if loggedIn}}
      <li><a href="/cooks/new"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Cook</a></li>
      <li><a href="/recipes/new"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Recipe</a></li>
      <li><a href="/users/logout"><i class="fa fa- fa-sign-out fa-lg" aria-hidden="true"></i> Logout</a></li>
      {{else}}
      <li><a href="/users/login"><i class="fa fa- fa-sign-in fa-lg" aria-hidden="true"></i> Login</a></li>
      <li><a href="/users/signup"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Signup</a></li>
      {{/if}}
    </ul>
  </div>
</nav>