<nav>
  <div class="nav">
    <ul>
      <li><a href="/"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/cooks">Cooks</a></li>
    </ul>
    <ul>
      <li><a href="/cooks/new"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Cook</a></li>
      <li><a href="/recipes/new"><i class="fa fa-plus fa-lg" aria-hidden="true"></i> Recipe</a></li>
    </ul>
  </div>
</nav>