<div class="recipeForm">
  <form action="" method="POST">
    <input type="text" name='title' class='form-control' placeholder='Recipe title' required autofocus>
  <select name="level">
    <option value="Easy Peasy">Easy Peasy</option>
    <option value="Amateur Chef">Amateur Chef</option>
    <option value="UltraPro Chef">UltraPro Chef</option>
  </select>
    <input type="text" name='ingredients' class='form-control' placeholder='Recipe title' required autofocus>
    <input type="text" name='title' class='form-control' placeholder='Recipe title' required autofocus>
    <input type="text" name='title' class='form-control' placeholder='Recipe title' required autofocus>

  </form>
</div>

  <form class="form-signup" action='/signup' method='POST'>
    <input type="text" name='username' class='form-control' placeholder='Username' required autofocus>
    <input type="email" name='email' class='form-control' placeholder='Email' required autofocus>
    <input type='password' name='password' class='form-control' placeholder='Password' required>
    <button type="submit">Register</button>
  </form>

  title : { type: String, required: true, unique: true },
  level : { type: String, enum: ['Easy Peasy', 'Amateur Chef', 'UltraPro Chef'] },
  ingredients : { type: Array },
  cuisine : { type: String, required: true },
  dishType : { type: String, enum: ['Breakfast', 'Dish', 'Snack', 'Drink', 'Dessert', 'Other'] },
  image : { type: String, default: 'https://images.media-allrecipes.com/images/75131.jpg' },
  duration     : { type: Number, min: [0, 'No negative time possible ;)'],},
  creator : { type: String },
  cook: { type: Schema.Types.ObjectId, ref: 'Cook' },
  created    : { type: Date, default: Date.now },