<div class="cooks">
  {{#each cooks as | cook |}}
    <div class="cook">
      {{> detailedCook cook=cook }}
      <a href="/cook/{{cook._id}}"></a>
    </div>
  {{else}}
    <p>You should add some cooks</p>
  {{/each}}
</div>