<div class="cooks">
  {{#each cooks as | cook |}}
    <div class="cook">
      {{> detailedCook cook=cook }}
      <a href="/cook/{{cook._id}}"></a>
    </div>
  {{else}}
    <p>You should <a href="/cooks/new">add some cooks</a></p>
    {{!-- <p>No data at all? Go and <a href="/seed">seed the database</a></p> --}}
  {{/each}}
</div>