<p>Hi there, {{username}}</p>
<p>Here could be your own recipes, favorites or some other personalized stuff... But there isn't so don't waste your time looking for it ;)</p>
<a href="/recipes">Recipes</a>
<a href="/cooks">Cooks</a>