<form action="/users/login{{#if destination}}?destination={{destination}}{{/if}}" method="POST">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Login</button>
</form>
<p>No account yet? <a href="/users/signup">Sign me up</a></p>
<p>Forgot your password? Maybe you can <a href="/users/login/forgotpwd">reset it</a></p>