<form action="/users/login{{#if destination}}?destination={{destination}}{{/if}}" method="POST">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Login</button>
</form>