<div class="recipes">
  {{#each recipes as | recipe |}}
    <div class="recipe">
      {{> detailedRecipe recipe=recipe }}
      <a href="/recipe/{{recipe._id}}"></a>
    </div>
  {{else}}
    <p>You should add some recipes</p>
  {{/each}}
</div>